# ==============================
# 🍏 macOS system files
# ==============================
.DS_Store
.AppleDouble
.LSOverride

# ==============================
# 🧠 VS Code settings
# ==============================
.vscode/

# ==============================
# 📦 Node.js dependencies
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# 🗂 Logs
# ==============================
logs/
*.log

# ==============================
# 🔐 Env files
# ==============================
.env
.env.*

# ==============================
# 🚀 Build Output
# ==============================
dist/
out/
build/

# ==============================
# 🧹 Miscellaneous
# ==============================
*.swp
